{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css" %}">
<link rel="stylesheet" href="{% static "tempusdominus-bootstrap-4-5.1.2/tempusdominus-bootstrap-4.min.css" %}">
{% endblock %}

{% block title %}新增課程{% endblock %}

{% block content %}
<div class="container">
    <h3>新增課程</h3>
    <hr>
    <form action="{% url 'course-add' %}" method="POST" class="mb-5">
        {% csrf_token %}

        <!-- 名稱 -->
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 開始日期 -->
        <div class="form-group">
            {{ form.startdate.label_tag }}
            {{ form.startdate }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.startdate.errors %}
                {% for error in form.startdate.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 結束日期 -->
        <div class="form-group">
            {{ form.endtdate.label_tag }}
            {{ form.endtdate }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.endtdate.errors %}
                {% for error in form.endtdate.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 開始時間 -->
        <div class="form-group">
            {{ form.starttime.label_tag }}
            {{ form.starttime }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.starttime.errors %}
                {% for error in form.starttime.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 結束時間 -->
        <div class="form-group">
            {{ form.endtime.label_tag }}
            {{ form.endtime }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.endtime.errors %}
                {% for error in form.endtime.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 講師 -->
        <div class="input-group my-4">
            <div class="input-group-prepend">
                <span class="input-group-text">{{ form.teachers.label }}</span>
            </div>
            {{ form.teachers }}
            <div class="input-group-append">
                <a class="btn btn-outline-secondary" href="{% url 'add-teacher' %}" role="button">
                    <i class="fas fa-user-plus"></i>
                    新增講師
                </a>
            </div>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.teachers.errors %}
                {% for error in form.teachers.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 報名連結 -->
        <div class="form-group">
            {{ form.signup.label_tag }}
            {{ form.signup }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.signup.errors %}
                {% for error in form.signup.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 地點 -->
        <div class="input-group my-4">
            <div class="input-group-prepend">
                <span class="input-group-text">{{ form.locations.label }}</span>
            </div>
            {{ form.locations }}
            <div class="input-group-append">
                <a class="btn btn-outline-secondary" href="{% url 'add-location' %}" role="button">
                    <i class="fas fa-clinic-medical"></i>
                    新增地點
                </a>
            </div>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.locations.errors %}
                {% for error in form.locations.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 簡介 -->
        <div class="form-group">
            {{ form.intro.label_tag }}
            {{ form.intro }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.intro.errors %}
                {% for error in form.intro.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 其他 -->
        <div class="form-group">
            {{ form.other.label_tag }}
            {{ form.other }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.other.errors %}
                {% for error in form.other.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 狀態 -->
        <div class="form-group">
            {{ form.status.label_tag }}
            {{ form.status }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.status.errors %}
                {% for error in form.status.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 類別 -->
        <div class="input-group my-4">
            <div class="input-group-prepend">
                <span class="input-group-text">{{ form.categorys.label }}</span>
            </div>
            {{ form.categorys }}
            <div class="input-group-append">
                <a class="btn btn-outline-secondary" href="{% url 'add-category' %}" role="button">
                    <i class="fas fa-tags"></i>
                    新增類別
                </a>
            </div>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.categorys.errors %}
                {% for error in form.categorys.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="far fa-check-circle"></i>
            提交
        </button>
        
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static "bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js" %}"></script>
<script src="{% static "moment-2.22.2/moment-with-locales.min.js" %}"></script>
<script src="{% static "tempusdominus-bootstrap-4-5.1.2/tempusdominus-bootstrap-4.min.js" %}"></script>
<script type="text/javascript">
    {% if form.name.errors %}
        document.getElementById("id_name").classList.add("is-invalid");
    {% endif %}
    {% if form.startdate.errors %}
        document.getElementById("id_startdate").classList.add("is-invalid");
    {% endif %}
    {% if form.endtdate.errors %}
        document.getElementById("id_endtdate").classList.add("is-invalid");
    {% endif %}
    {% if form.starttime.errors %}
        document.getElementById("id_starttime").classList.add("is-invalid");
    {% endif %}
    {% if form.endtime.errors %}
        document.getElementById("id_endtime").classList.add("is-invalid");
    {% endif %}
    {% if form.teachers.errors %}
        document.getElementById("id_teachers").classList.add("is-invalid");
    {% endif %}
    {% if form.signup.errors %}
        document.getElementById("id_signup").classList.add("is-invalid");
    {% endif %}
    {% if form.locations.errors %}
        document.getElementById("id_locations").classList.add("is-invalid");
    {% endif %}
    {% if form.intro.errors %}
        document.getElementById("id_intro").classList.add("is-invalid");
    {% endif %}
    {% if form.other.errors %}
        document.getElementById("id_other").classList.add("is-invalid");
    {% endif %}
    {% if form.status.errors %}
        document.getElementById("id_status").classList.add("is-invalid");
    {% endif %}
    {% if form.categorys.errors %}
        document.getElementById("id_categorys").classList.add("is-invalid");
    {% endif %}
</script>
{% endblock %}

