<mat-toolbar class="mat-elevation-z8" fxLayout="row" fxLayoutAlign="space-between center" color="primary">
  <button type="button" aria-label="切換選單" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/']" matTooltip="首頁" class="navbar-brand">黑客社</a>
  <div>
    <!-- 桌面 -->
    <a fxHide.lt-sm [routerLink]="['/account/login']" mat-stroked-button class="navbar-button">
      <mat-icon>login</mat-icon>
      <span>登入</span>
    </a>
    <!-- 移動 -->
    <a fxHide.gt-xs [routerLink]="['/account/login']" mat-icon-button>
      <mat-icon>login</mat-icon>
    </a>
  </div>
</mat-toolbar>
<mat-sidenav-container [ngStyle.lt-sm]="{'height': 'calc(100vh - 56px)'}" [ngStyle.gt-xs]="{'height': 'calc(100vh - 64px)'}">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [fixedTopGap]="(isHandset$ | async) ? 56 : 64" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <ng-container *ngFor="let side of sides">
        <h3 mat-subheader>{{side.title}}</h3>
        <a (click)="clickLink()" *ngFor="let link of side.links" mat-list-item [routerLink]="link.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
          <span>{{link.name}}</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <p class="text-center mat-body-strong">Copyright &copy; {{ date | date: 'yyyy' }} <a href="https://github.com/D0683497/JoinClub">JoinClub</a></p>
  </mat-sidenav-content>
</mat-sidenav-container>
