<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a [routerLink]="['/']" matTooltip="首頁" class="toolbar-title">入社系統</a>
  <span class="toolbar-spacer"></span>
  <app-toolbar></app-toolbar>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport fixedTopGap="56"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <p class="text-center mat-body-strong">Copyright &copy; 2020 HackerSir.</p>
  </mat-sidenav-content>
</mat-sidenav-container>
