{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css" %}">
<link rel="stylesheet" href="{% static "tempusdominus-bootstrap-4-5.1.2/tempusdominus-bootstrap-4.min.css" %}">
{% endblock %}

{% block title %}新增參與者{% endblock %}

{% block content %}
<div class="container">
    <h3>新增參與者</h3>
    <hr>
    <form action="{% url 'add-attendee' %}" method="POST" class="mb-5">
        {% csrf_token %}

        <!-- 帳號 -->
        <div class="form-group">
            {{ userform.username.label_tag }}
            {{ userform.username }}
            <small id="usernameHelp" class="form-text text-muted">{{ userform.username.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if userform.username.errors %}
                {% for error in userform.username.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 密碼 -->
        <div class="form-group">
            {{ userform.password.label_tag }}
            {{ userform.password }}
            <small id="passwordHelp" class="form-text text-muted">{{ userform.password.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if userform.password.errors %}
                {% for error in userform.password.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 電子信箱 -->
        <div class="form-group">
            {{ userform.email.label_tag }}
            {{ userform.email }}
            <small id="emailHelp" class="form-text text-muted">{{ userform.email.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if userform.email.errors %}
                {% for error in userform.email.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 姓氏 -->
        <div class="form-group">
            {{ userform.last_name.label_tag }}
            {{ userform.last_name }}
            <small id="last_nameHelp" class="form-text text-muted">{{ userform.last_name.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if userform.last_name.errors %}
                {% for error in userform.last_name.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 名字 -->
        <div class="form-group">
            {{ userform.first_name.label_tag }}
            {{ userform.first_name }}
            <small id="first_nameHelp" class="form-text text-muted">{{ userform.first_name.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if userform.first_name.errors %}
                {% for error in userform.first_name.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 學號 -->
        <div class="form-group">
            {{ attendeeform.nid.label_tag }}
            {{ attendeeform.nid }}
            <small id="nidHelp" class="form-text text-muted">{{ attendeeform.nid.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if attendeeform.nid.errors %}
                {% for error in attendeeform.nid.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 現職 -->
        <div class="form-group">
            {{ attendeeform.job.label_tag }}
            {{ attendeeform.job }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if attendeeform.job.errors %}
                {% for error in attendeeform.job.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 性別 -->
        <div class="form-group">
            {{ attendeeform.sex.label_tag }}
            {{ attendeeform.sex }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if attendeeform.sex.errors %}
                {% for error in attendeeform.sex.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 手機號碼 -->
        <div class="form-group">
            {{ attendeeform.phone.label_tag }}
            {{ attendeeform.phone }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if attendeeform.phone.errors %}
                {% for error in attendeeform.phone.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 生日 -->
        <div class="form-group">
            {{ attendeeform.birthday.label_tag }}
            {{ attendeeform.birthday }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if attendeeform.birthday.errors %}
                {% for error in attendeeform.birthday.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="far fa-check-circle"></i>
            提交
        </button>
        
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static "bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js" %}"></script>
<script src="{% static "moment-2.22.2/moment-with-locales.min.js" %}"></script>
<script src="{% static "tempusdominus-bootstrap-4-5.1.2/tempusdominus-bootstrap-4.min.js" %}"></script>
<script type="text/javascript">
    {% if userform.username.errors %}
        document.getElementById("id_user-username").classList.add("is-invalid");
    {% endif %}
    {% if userform.password.errors %}
        document.getElementById("id_user-password").classList.add("is-invalid");
    {% endif %}
    {% if userform.email.errors %}
        document.getElementById("id_user-email").classList.add("is-invalid");
    {% endif %}
    {% if userform.last_name.errors %}
        document.getElementById("id_user-last_name").classList.add("is-invalid");
    {% endif %}
    {% if userform.first_name.errors %}
        document.getElementById("id_user-first_name").classList.add("is-invalid");
    {% endif %}
    {% if memberform.nid.errors %}
        document.getElementById("id_attendee-nid").classList.add("is-invalid");
    {% endif %}
    {% if memberform.lesson.errors %}
        document.getElementById("id_attendee-job").classList.add("is-invalid");
    {% endif %}
    {% if memberform.sex.errors %}
        document.getElementById("id_attendee-sex").classList.add("is-invalid");
    {% endif %}
    {% if memberform.phone.errors %}
        document.getElementById("id_attendee-phone").classList.add("is-invalid");
    {% endif %}
    {% if memberform.birthday.errors %}
        document.getElementById("id_attendee-birthday").classList.add("is-invalid");
    {% endif %}
</script>
{% endblock %}

