{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css" %}">
{% endblock %}

{% block title %}新增系級{% endblock %}

{% block content %}
<div class="container">
    <h3>新增系級</h3>
    <hr>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="lesson-tab" data-toggle="tab" href="#lesson" role="tab" aria-controls="lesson" aria-selected="true">班級</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="department-tab" data-toggle="tab" href="#department" role="tab" aria-controls="department" aria-selected="false">學系</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="college-tab" data-toggle="tab" href="#college" role="tab" aria-controls="college" aria-selected="false">學院</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="degree-tab" data-toggle="tab" href="#degree" role="tab" aria-controls="degree" aria-selected="false">學制</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="lesson" role="tabpanel" aria-labelledby="lesson-tab">
            <form action="{% url 'add-lesson' %}" method="POST" class="my-3">
                {% csrf_token %}

                <!-- 班級 -->
                <div class="form-group">
                    {{ lessonform.name.label_tag }}
                    {{ lessonform.name }}
                    {% comment %} 錯誤訊息 {% endcomment %}
                    {% if lessonform.name.errors %}
                        {% for error in lessonform.name.errors %}
                            <div class="invalid-feedback">
                                <p>{{ error }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- 學系 -->
                <div class="form-group">
                    {{ lessonform.department.label_tag }}
                    {{ lessonform.department }}
                    {% comment %} 錯誤訊息 {% endcomment %}
                    {% if lessonform.department.errors %}
                        {% for error in lessonform.department.errors %}
                            <div class="invalid-feedback">
                                <p>{{ error }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary" name="lesson">
                    <i class="far fa-check-circle"></i>
                    提交
                </button>
            </form>
        </div>
        <div class="tab-pane fade" id="department" role="tabpanel" aria-labelledby="department-tab">
            <form action="{% url 'add-lesson' %}" method="POST" class="my-3">
                {% csrf_token %}

                <!-- 學系 -->
                <div class="form-group">
                    {{ departmentform.name.label_tag }}
                    {{ departmentform.name }}
                    {% comment %} 錯誤訊息 {% endcomment %}
                    {% if lessonform.name.errors %}
                        {% for error in departmentform.name.errors %}
                            <div class="invalid-feedback">
                                <p>{{ error }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- 學院 -->
                <div class="form-group">
                    {{ departmentform.college.label_tag }}
                    {{ departmentform.college }}
                    {% comment %} 錯誤訊息 {% endcomment %}
                    {% if departmentform.college.errors %}
                        {% for error in departmentform.college.errors %}
                            <div class="invalid-feedback">
                                <p>{{ error }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary" name="department">
                    <i class="far fa-check-circle"></i>
                    提交
                </button>
            </form>
        </div>
        <div class="tab-pane fade" id="college" role="tabpanel" aria-labelledby="college-tab">
            <form action="{% url 'add-lesson' %}" method="POST" class="my-3">
                {% csrf_token %}

                <!-- 學院 -->
                <div class="form-group">
                    {{ collegeform.name.label_tag }}
                    {{ collegeform.name }}
                    {% comment %} 錯誤訊息 {% endcomment %}
                    {% if lessonform.name.errors %}
                        {% for error in collegeform.name.errors %}
                            <div class="invalid-feedback">
                                <p>{{ error }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- 學制 -->
                <div class="form-group">
                    {{ collegeform.degree.label_tag }}
                    {{ collegeform.degree }}
                    {% comment %} 錯誤訊息 {% endcomment %}
                    {% if collegeform.degree.errors %}
                        {% for error in collegeform.degree.errors %}
                            <div class="invalid-feedback">
                                <p>{{ error }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary" name="college">
                    <i class="far fa-check-circle"></i>
                    提交
                </button>
            </form>
        </div>
        <div class="tab-pane fade" id="degree" role="tabpanel" aria-labelledby="degree-tab">
            <form action="{% url 'add-lesson' %}" method="POST" class="my-3">
                {% csrf_token %}

                <!-- 學制 -->
                <div class="form-group">
                    {{ degreeform.name.label_tag }}
                    {{ degreeform.name }}
                    {% comment %} 錯誤訊息 {% endcomment %}
                    {% if degreeform.name.errors %}
                        {% for error in degreeform.name.errors %}
                            <div class="invalid-feedback">
                                <p>{{ error }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary" name="degree">
                    <i class="far fa-check-circle"></i>
                    提交
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static "bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js" %}"></script>
<script type="text/javascript">

</script>
{% endblock %}

