{% extends "layout.html" %}

{% block title %}新增講師{% endblock %}

{% block content %}
<div class="container">
    <h3>新增講師</h3>
    <hr>
    <form action="{% url 'add-teacher' %}" method="POST" class="mb-5">
        {% csrf_token %}

        <!-- 姓氏 -->
        <div class="form-group">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 名字 -->
        <div class="form-group">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 現職 -->
        <div class="form-group">
            {{ form.job.label_tag }}
            {{ form.job }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.job.errors %}
                {% for error in form.job.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 學經歷 -->
        <div class="form-group">
            {{ form.exp.label_tag }}
            {{ form.exp }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.name.errors %}
                {% for error in form.exp.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- 其他 -->
        <div class="form-group">
            {{ form.other.label_tag }}
            {{ form.other }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.other.errors %}
                {% for error in form.other.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="far fa-check-circle"></i>
            提交
        </button>
        
    </form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    {% if form.name.errors %}
        document.getElementById("id_name").classList.add("is-invalid");
    {% endif %}
    {% if form.job.errors %}
        document.getElementById("id_job").classList.add("is-invalid");
    {% endif %}
    {% if form.exp.errors %}
        document.getElementById("id_exp").classList.add("is-invalid");
    {% endif %}
    {% if form.other.errors %}
        document.getElementById("id_other").classList.add("is-invalid");
    {% endif %}
</script>
{% endblock %}

