{% extends "layout.html" %}

{% block head %}
<meta http-equiv="Refresh" content="10">
{% endblock %}

{% block title %}黑客社 - 統計圖表{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 my-2">
            <div class="card text-center border-info">
                <div class="card-header">
                    <h4 class="my-0">填表人數</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ All_count }}</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 my-2">
            <div class="card text-center border-success">
                <div class="card-header">
                    <h4 class="my-0">已入社</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ M_count }}</h1>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="chart"></div>
</div>
{% endblock %}

{% block js %}
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
    var data = [{
        y: [{{ All_count }}, {{ M_count }}],
        x: ['填表人數', '已入社'],
        marker:{
            color: ['rgba(51,181,229,1)', 'rgba(0,200,81,1)']
        },
        type: 'bar'
    }];
    var layout = {
        title: '入社情況',
    };
    Plotly.newPlot('chart', data, layout, {responsive: true});
</script>
{% endblock %}
