.tab-icon {
  margin-right: 8px;
}

.scan-button {
  margin: 20px;
}

::ng-deep mat-tab-body {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

zxing-scanner {
  max-width: 100vw;
  max-height: 65vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
