<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">qr_code_scanner</mat-icon>
      QRcode
    </ng-template>
    <ng-container *ngIf="openScanner else notOpenScanner">
      <div [hidden]="!hasDevices">
        <header>
          <mat-form-field appearance="fill">
            <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
              <option value="" [selected]="!currentDevice">請選擇裝置</option>
              <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
            </select>
          </mat-form-field>
          <button mat-icon-button (click)="openScanner = !openScanner">
            <mat-icon>close</mat-icon>
          </button>
        </header>
        <zxing-scanner [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)" (permissionResponse)="onHasPermission($event)"
          (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
      </div>

      <ng-container *ngIf="hasPermission === undefined">
        <h2>Waiting for permissions.</h2>
        <blockquote>
          If your device does not has cameras, no permissions will be asked.
        </blockquote>
      </ng-container>

      <ng-container *ngIf="hasPermission === false">
        <h2>You denied the camera permission, we can't scan anything without it. 😪</h2>
      </ng-container>

      <ng-container *ngIf="hasDevices === undefined">
        <h2>Couldn't check for devices.</h2>
        <blockquote>
          This may be caused by some security error.
        </blockquote>
      </ng-container>

      <ng-container *ngIf="hasDevices === false">
        <h2>No devices were found.</h2>
        <blockquote>
          I believe your device has no media devices attached to.
        </blockquote>
      </ng-container>
    </ng-container>
    <ng-template #notOpenScanner>
      <button mat-stroked-button color="primary" (click)="openScanner = !openScanner" class="scan-button">掃描 QRcode</button>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person_search</mat-icon>
      Search
    </ng-template>
    <form [formGroup]="searchForm" #formDirective="ngForm" novalidate (ngSubmit)="onSubmit(searchForm.value, formDirective)">
      <!-- NID -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>學號</mat-label>
            <input matInput type="text" formControlName="nid" required appFirstLetterUpper>
            <mat-hint>系統會自動將首字母轉為大寫</mat-hint>
            <mat-error *ngIf="searchForm.controls['nid'].hasError('required')">
              學號是<strong>必填的</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button type="submit" color="primary" [disabled]="!searchForm.valid">
        查詢
      </button>
    </form>
  </mat-tab>
</mat-tab-group>
