{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css" %}">
<link rel="stylesheet" href="{% static "tempusdominus-bootstrap-4-5.1.2/tempusdominus-bootstrap-4.min.css" %}">
{% endblock %}

{% block title %}課程總覽{% endblock %}

{% block content %}
<div class="container">
    <h3>課程總覽</h3>
    <hr>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="singupyet-tab" data-toggle="tab" href="#yet" role="tab" aria-controls="singupyet" aria-selected="true">尚未開始報名</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="yet-tab" data-toggle="tab" href="#yet" role="tab" aria-controls="yet" aria-selected="false">尚未開始</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="full-tab" data-toggle="tab" href="#full" role="tab" aria-controls="full" aria-selected="false">報名額滿</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="singupend-tab" data-toggle="tab" href="#singupend" role="tab" aria-controls="singupend" aria-selected="false">報名結束</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="end-tab" data-toggle="tab" href="#end" role="tab" aria-controls="end" aria-selected="false">活動結束</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="hide-tab" data-toggle="tab" href="#hide" role="tab" aria-controls="hide" aria-selected="false">隱藏</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="singupyet" role="tabpanel" aria-labelledby="singupyet-tab">
            <table class="table table-bordered my-3">
                <thead>
                    <tr>
                        <th scope="col">編號</th>
                        <th scope="col">種類</th>
                        <th scope="col">活動名稱</th>
                        <th scope="col">開始日期</th>
                        <th scope="col">開始時間</th>
                    </tr>
                </thead>
                <tbody>
                    {% for act in act_singupyet %}
                    <tr>
                        <th scope="row">{{ act.id }}</th>
                        <td>{{ act.categorys }}</td>
                        <td>{{ act.name }}</td>
                        <td>{{ act.startdate }}</td>
                        <td>{{ act.starttime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="yet" role="tabpanel" aria-labelledby="yet-tab">
            <table class="table table-bordered my-3">
                <thead>
                    <tr>
                        <th scope="col">編號</th>
                        <th scope="col">種類</th>
                        <th scope="col">活動名稱</th>
                        <th scope="col">開始日期</th>
                        <th scope="col">開始時間</th>
                    </tr>
                </thead>
                <tbody>
                    {% for act in act_yet %}
                    <tr>
                        <th scope="row">{{ act.id }}</th>
                        <td>{{ act.categorys }}</td>
                        <td>{{ act.name }}</td>
                        <td>{{ act.startdate }}</td>
                        <td>{{ act.starttime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="full" role="tabpanel" aria-labelledby="full-tab">
            <table class="table table-bordered my-3">
                <thead>
                    <tr>
                        <th scope="col">編號</th>
                        <th scope="col">種類</th>
                        <th scope="col">活動名稱</th>
                        <th scope="col">開始日期</th>
                        <th scope="col">開始時間</th>
                    </tr>
                </thead>
                <tbody>
                    {% for act in act_full %}
                    <tr>
                        <th scope="row">{{ act.id }}</th>
                        <td>{{ act.categorys }}</td>
                        <td>{{ act.name }}</td>
                        <td>{{ act.startdate }}</td>
                        <td>{{ act.starttime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="singupend" role="tabpanel" aria-labelledby="singupend-tab">
            <table class="table table-bordered my-3">
                <thead>
                    <tr>
                        <th scope="col">編號</th>
                        <th scope="col">種類</th>
                        <th scope="col">活動名稱</th>
                        <th scope="col">開始日期</th>
                        <th scope="col">開始時間</th>
                    </tr>
                </thead>
                <tbody>
                    {% for act in act_singupend %}
                    <tr>
                        <th scope="row">{{ act.id }}</th>
                        <td>{{ act.categorys }}</td>
                        <td>{{ act.name }}</td>
                        <td>{{ act.startdate }}</td>
                        <td>{{ act.starttime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="end" role="tabpanel" aria-labelledby="end-tab">
            <table class="table table-bordered my-3">
                <thead>
                    <tr>
                        <th scope="col">編號</th>
                        <th scope="col">種類</th>
                        <th scope="col">活動名稱</th>
                        <th scope="col">開始日期</th>
                        <th scope="col">開始時間</th>
                    </tr>
                </thead>
                <tbody>
                    {% for act in act_end %}
                    <tr>
                        <th scope="row">{{ act.id }}</th>
                        <td>{{ act.categorys }}</td>
                        <td>{{ act.name }}</td>
                        <td>{{ act.startdate }}</td>
                        <td>{{ act.starttime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="hide" role="tabpanel" aria-labelledby="hide-tab">
            <table class="table table-bordered my-3">
                <thead>
                    <tr>
                        <th scope="col">編號</th>
                        <th scope="col">種類</th>
                        <th scope="col">活動名稱</th>
                        <th scope="col">開始日期</th>
                        <th scope="col">開始時間</th>
                    </tr>
                </thead>
                <tbody>
                    {% for act in act_hide %}
                    <tr>
                        <th scope="row">{{ act.id }}</th>
                        <td>{{ act.categorys }}</td>
                        <td>{{ act.name }}</td>
                        <td>{{ act.startdate }}</td>
                        <td>{{ act.starttime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static "bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js" %}"></script>
<script src="{% static "moment-2.22.2/moment-with-locales.min.js" %}"></script>
<script src="{% static "tempusdominus-bootstrap-4-5.1.2/tempusdominus-bootstrap-4.min.js" %}"></script>
<script type="text/javascript">

</script>
{% endblock %}

