{% extends "layout.html" %}

{% block title %}黑課社 - 審核{% endblock %}

{% block content %}
<div class="container">
    <h3>審核</h3>
    <hr>
    <div class="card">
        <h5 class="card-header">
            <div class="row">
                <div class="col-sm-6">
                    {{ member.nid }} - 社員資料
                </div>
                <div class="d-flex col-sm-6 justify-content-end">
                    {% comment %} 審核中 {% endcomment %}
                    {% ifequal member.status "UR" %}
                        <span class="badge badge-pill badge-info">
                            {{ member.get_status_display }}
                        </span>
                    {% endifequal %}
                    {% comment %} 已入社 {% endcomment %}
                    {% ifequal member.status "M" %}
                        <span class="badge badge-pill badge-success">
                            {{ member.get_status_display }}
                        </span>
                    {% endifequal %}
                    {% comment %} 未付款 {% endcomment %}
                    {% ifequal member.status "NP" %}
                        <span class="badge badge-pill badge-danger">
                            {{ member.get_status_display }}
                        </span>
                    {% endifequal %}
                </div>
            </div>
        </h5>
        <div class="card-body">
            <p class="card-text">姓名：{{ member.name }}</p>
            <p class="card-text">學號：{{ member.nid }}</p>
            <p class="card-text">系級：{{ member.dept }}</p>
            <p class="card-text">年級：{{ member.get_level_display }}</p>
            <p class="card-text">電話：{{ member.phone }}</p>
            <p class="card-text">E-mail：{{ member.email }}</p>
        </div>
        <div class="card-footer">
            <a href="" class="btn btn-success" role="button">審核通過</a>
            <a href="{% url 'join:edit' id=member.id %}" class="btn btn-primary" role="button">修改資料</a>
        </div>
    </div>
</div>
{% endblock %}
