.container {
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 80vmin;
  width: 80vmin;
}

@media screen and (min-width: 768px){
  img {
    height: 60vmin;
    width: 60vmin;
  }
}
