<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'join:index' %}">HackerSir</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'join:join' %}">入社表單</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'join:search' %}">查詢</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'join:view' %}">總覽</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="https://bot.k139.me" target="_blank">Bot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://act.hackersir.org" target="_blank">活動總覽</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'join:chart' %}">統計圖表</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
            <span class="text-white my-2 mr-2 my-sm-0">Hi {{ user.username }}!</span>
            <a class="btn btn-outline-primary my-2 mr-2 my-sm-0" href="{% url 'admin:index' %}">Admin</a>
            <a class="btn btn-outline-light my-2 mr-2 my-sm-0" href="{% url 'logout' %}">登出</a>
        {% else %}
            <a class="btn btn-outline-light my-2 mr-2 my-sm-0" href="{% url 'login' %}">登入</a>
        {% endif %}
        {% comment %} <a class="btn btn-outline-light my-2 mr-2 my-sm-0" href="{% url 'register' %}">註冊</a> {% endcomment %}
    </div>
</nav>