<form [formGroup]="changePasswordForm" novalidate #formDirective="ngForm" (ngSubmit)="onSubmit(changePasswordForm.value)">
  <mat-card>
    <mat-card-content>
      <h2>更改密碼</h2>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>目前密碼</mat-label>
        <input [type]="hideCurrentPassword ? 'password' : 'text'" matInput formControlName="currentPassword" required>
        <button type="button" mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
          <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.controls['currentPassword'].hasError('required')">
          密碼是<strong>必填的</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls['currentPassword'].hasError('minlength')">
          密碼<strong>最少須要八位</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls['currentPassword'].hasError('maxlength')">
          密碼<strong>最多六十四位</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>新密碼</mat-label>
        <input [type]="hideNewPassword ? 'password' : 'text'" matInput formControlName="newPassword" required>
        <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('required')">
          密碼是<strong>必填的</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('minlength')">
          密碼<strong>最少須要八位</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('maxlength')">
          密碼<strong>最多六十四位</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>確認新密碼</mat-label>
        <input [type]="hideConfirmNewPassword ? 'password' : 'text'" matInput formControlName="confirmNewPassword" required>
        <button type="button" mat-icon-button matSuffix (click)="hideConfirmNewPassword = !hideConfirmNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmNewPassword">
          <mat-icon>{{hideConfirmNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.controls['confirmNewPassword'].hasError('required')">
          密碼是<strong>必填的</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls['confirmNewPassword'].hasError('minlength')">
          密碼<strong>最少須要八位</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls['confirmNewPassword'].hasError('maxlength')">
          密碼<strong>最多六十四位</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary" [disabled]="!changePasswordForm.valid">
        確認
      </button>
    </mat-card-actions>
  </mat-card>
</form>
