<mat-nav-list>
  <!-- Dashboard -->
  <h3 mat-subheader>Dashboard</h3>
  <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon mat-list-icon>home</mat-icon>
    <p mat-line>Home</p>
  </a>
  <a mat-list-item routerLink="/license" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon mat-list-icon>copyright</mat-icon>
    <p mat-line>License</p>
  </a>
  <!-- Account -->
  <h3 mat-subheader>Account</h3>
  <a mat-list-item routerLink="/account/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon mat-list-icon>login</mat-icon>
    <p mat-line>Login</p>
  </a>
  <a mat-list-item routerLink="/account/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon mat-list-icon>person_add</mat-icon>
    <p mat-line>Register</p>
  </a>
  <a mat-list-item routerLink="/account/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon mat-list-icon>portrait</mat-icon>
    <p mat-line>Profile</p>
  </a>
  <a mat-list-item routerLink="/account/change-password" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon mat-list-icon>lock</mat-icon>
    <p mat-line>ChangePassword</p>
  </a>
  <!-- Users -->
  <h3 mat-subheader>Users</h3>
  <a mat-list-item routerLink="/users/list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon mat-list-icon>group</mat-icon>
    <p mat-line>List</p>
  </a>
</mat-nav-list>
